*,
html,
body {
    background-color: rgb(25, 200, 150);
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    position: relative;
    top: 40px;
    height: 200px;
    width: 80vw;
    font-family: Tourney;
    font-size: 5vw;
    color: aquamarine;
    overflow: hidden;
    /*||*/
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
}

.videoConteneur {
    width: 100%;
    height: auto;
}

video {
    width: 60vw;
    margin: auto;
    display: block;
    position: absolute;
}