*,
html {
    background-color: rgb(25, 200, 150);
}

body {
    display: block;
}

.hero1 {
    top: 0;
    margin: auto;
    width: 95vw;
    height: 95vh;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center; /*needs display:flex*/
    font-family: Tourney;
    font-size: 20vw;
    color: aquamarine;
}

.hero2 {
    top: 0;
    margin: auto;
    width: 95vw;
    height: auto;
    border: 2px solid black;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center; /*needs display:flex*/
    font-family: Tourney;
    font-size: 20vw;
    color: aquamarine;
}